.container {
  display: flex;
  flex-direction: column;
  margin: 20px 40px;
  height: calc(100vh - 40px); /* 100% of the viewport height */
  justify-content: center;
  align-items: center; /* Center items horizontally */
  img {
    width: auto; /* maintain aspect ratio */
    height: calc(
      100vh - 250px
    ); /* occupy the remaining space (assuming the form and title take about 250px combined) */
    max-width: 100%; /* ensures it doesn't exceed container's width */
    max-height: calc(
      100vw - 100px
    ); /* ensures it doesn't exceed container's width */
    justify-self: flex-start;
  }

  .sign-in-header {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
  }

  h1 {
    color: #fff;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }

  h3 {
    color: #48e3be;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    b {
      font-weight: 700;
    }
  }

  h2 {
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    margin-top: 15px;

    .submit-section {
      position: relative;
      margin-top: 10px;
      .form-submit-error {
        margin: 3px 0;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        color: #fe4b4b;
        font-size: 10px;
        font-weight: 500;
      }
    }
  }

  .no-account {
    margin-top: 25px;
    align-self: flex-end;
    color: #b7b7b7;
    font-size: 10px;
    font-weight: 500;
    a {
      color: #48e3be;
    }
  }
}
