.main-button {
  background: linear-gradient(270deg, #C645A9 0%, #58BBDB 100%);
  border-radius: 20px;
  color: white;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  transition: opacity 0.3s;
  padding: 6px 0;
  font-family: 'Lato';
  font-size: 20px;
  font-weight: 600;

  &:hover {
    opacity: 0.9;
  }
}

.full-width {
  width: 100%;
}
