<div class="input-container">
  <label>{{ label }}</label>
  <div class="input-wrapper">
    <input
      [type]="type === 'password' && !showPassword ? 'password' : 'text'"
      [formControl]="control"
      [placeholder]="placeholder"
    />
    <button
      class="password-toggle"
      *ngIf="type === 'password'"
      (click)="togglePasswordVisibility()"
    >
      <img src="../../../../assets/icons/eye.svg" />
    </button>
  </div>
  <div class="error-container">
    <ng-content></ng-content>
  </div>
</div>
