.create-post {
  display: flex;
  flex-direction: column;
  padding: 0px 22px;
  gap: 8px;

  h1 {
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-weight: 800;
    margin: 14px 0px;
  }

  .submit-section {
    margin-top: 14px;
    align-self: flex-end;
  }

  form {
    display: flex;
    flex-direction: column;
  }
}
